[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ivmodel"]
	path = ivmodel
	url = https://github.com/hyunseungkang/ivmodel
[submodule "sisVIVE"]
	path = sisVIVE
	url = https://github.com/cran/sisVIVE
